<html>

<head>
    <title>Instrument Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/instPage.css" rel="stylesheet">
    {{> googleAnalytics}}
</head>

<body>
    {{#if altView}}
        <img src="/images/{{instName}}.png" class="card-img-top"  style="padding: 20px">

        <div class="btn-group" style="margin-left: 42%">
            <a class="btn btn-lg btn-outline-secondary" href="/recordingPage/{{instName}}">Play</a>
        </div>
        <hr>

        <div class="text-center">
            <button id="tutBtn" type="button" class="btn btn-info pull-left" data-toggle="modal"
                data-target="#tutModal">Tutorial</button>
            <button id="infoBtn" type="button" class="btn btn-info" onclick="instInfo()">More Info</button>

            <span class="instInfo">
                <h4>Name:</h4>
                <p>{{instName}}</p>
            </span>

            <div class="instInfo">
                <h4>Origin:</h4>
                <p>TEST!!!!!!!</p>
            </div>

            <div id="infoDisplay">
                <p>{{mInfo}}</p>
            </div>

        </div>

    </div>

        

    <div id="tutModal" class="modal hide" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <h4>Tutorial</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Shake to make noise.</p>
                    <p>The faster you shake,</p>
                    <p>the faster the sound.</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            <button type="button" class="btn btn-info navbar-btn" title="back" data-name="0">Back</button>
            <button type="button" class="btn btn-default navbar-btn" title="home" data-name="1">Home</button>
            <button type="button" class="btn btn-default navbar-btn" title="recordings" data-name="2">My
                Recordings</button>

        </div>
    </nav>
    {{else}}
    <div class="container">

        <img src="/images/{{instName}}.png" class="card-img-top"  style="padding: 20px">

        <div class="btn-group" style="margin-left: 42%">
            <a class="btn btn-lg btn-outline-secondary" href="/recordingPage/{{instName}}">Play</a>
        </div>
        <hr>
        <div class="text-center">
            <button id="tutBtn" type="button" class="btn btn-info pull-left" data-toggle="modal"
                data-target="#tutModal">Tutorial</button>
            <button id="infoBtn" type="button" class="btn btn-info" onclick="instInfo()">More Info</button>

            <span class="instInfo">
                <h4>Name:</h4>
                <p>{{instName}}</p>
            </span>

            <div class="instInfo">
                <h4>Origin:</h4>
                <p>origin</p>
            </div>

            <div id="infoDisplay">
                <p>{{mInfo}}</p>
            </div>

        </div>

    </div>



    <div id="tutModal" class="modal hide" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">

            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4>Tutorial</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body">
                    <p>Shake to make noise.</p>
                    <p>The faster you shake,</p>
                    <p>the faster the sound.</p>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            <button type="button" class="btn btn-info navbar-btn" title="back" data-name="0">Back</button>
            <button type="button" class="btn btn-default navbar-btn" title="home" data-name="1">Home</button>
            <button type="button" class="btn btn-default navbar-btn" title="recordings" data-name="2">My
                Recordings</button>

        </div>
    </nav>
    {{/if}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
        integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
    <script src="/js/instrument.js"></script>
</body>

</html>