<html>

<head>
    <title>My Recordings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
        crossorigin="anonymous">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/customstyle.css" rel="stylesheet">
    {{> googleAnalytics}}
</head>

<body>
    <div class="container">
        <div class="recordList">
            <ul>
                <li>
                    <a href="#">
                        <img class="img-rounded" src="{{user.0.imageURL}}" width="50" height="50" alt="{{user.0.name}}" title="{{user.0.name}}">
                        <h5>{{user.0.name}}</h5>
                    </a>
                    <hr>
                </li>
                {{#each recordingsPlaceholder}}
                <li>
                
                    <button class="btn btn-danger delBtn" data-toggle="modal" data-target="#del{{id}}">Delete</button>      
                    
                    <div class="aRecord" onclick="window.location.href = '#mRModal';" data-toggle="modal" data-target="#mRModal" data-title="{{title}}" data-url="{{recUrl}}">
                    {{!-- <div onclick="window.location.href = '#mRModal';" data-toggle="modal" data-target="#mRModal" --}}
                        {{!-- data-title="{{title}}" data-url="{{recUrl}}"> --}}
                        <p class="mRTitle">{{title}}</p>

                            <div>
                            <div class="mRcolumn">
                                <p class="mRDate">{{date}}</p>
                            </div>
                            <div class="mRcolumn">
                                <p class="mRLength">{{length}}</p>
                            </div>
                        </div>
                    </div>
                </li>

                <div id="del{{id}}" class="modal hide delConfirm" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            
                            <div class="modal-body">
                                <p class="rec-to-del">You are about to delete {{title}}.</p>
                            </div>
                            <div class="modal-footer">
                                <a href="/delete/{{id}}" type="button" class="btn btn-danger confirmDel" data-del={{id}}>Delete</a>
                                
                                <a type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

            {{/each}}
            </ul>

        </div>

        <!-- Header here to overlay recordings-->
        <div class="mRHeader">
            <h3>My Recordings</h3>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container text-center">
                <button class="btn btn-info navbar-btn" onclick="history.back()">Back</button>
                <button class="btn btn-default navbar-btn" onclick="window.location.href = '/home';">Home</button>
                <button class="btn btn-default navbar-btn" onclick="window.location.href = '/instruments';">Instrument
                    Library</button>
                {{!-- <button class="btn btn-default navbar-btn" onclick="window.location.href = '/profile';">Profile</button> --}}
            </div>
        </nav>


        {{!-- {{#each recordingsPlaceholder}} --}}
        <div id='mRModal' class="modal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{title}}</h4>
                    </div>
                    <div class="modal-body">
                        <audio controls id="modal-aud" type="audio/ogg; codecs=opus">
                            <p>Placeholder Audio Test</p>
                            {{!-- <source src="" type="audio/ogg"> --}}
                        </audio>
                    </div>
                    <!--    moved delete function to button
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-to-del="{{title}}" data-toggle="modal" data-target="#delRec">Delete</button>
                    </div>
                -->
                </div>
                
            </div>
        </div>

        {{!-- {{/each}} --}}


    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
        crossorigin="anonymous"></script>
    <script src="/js/myRec.js"></script>

</body>

</html>